// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

//Ajuste sobre componentes Bootstrap
.form-control{
    border: var(--bs-border-width) solid var(--bs-secondary-color);
}
//Fin Ajuste sobre componentes Bootstrap

body{
    min-width: 300px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/fondo-validaciones.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;


    >.container{
        margin-top: 50px;
    }
}

.header{
    width: 100%;
    height: 120px;
    background-color: var(--bs-secondary-bg);

    .container{
        height: 100%;
        padding: 10px 0;

        .logo {
            height: 100%;
            display: flex;
            align-items: center;

            img{
                width: 220px;
            }
        }
    }
 
} 

.col-xl-3{
    border-right: 1px solid black;
} 

.fotoWrapper{
   
    display: flex;
    align-items: center;

    .foto{
        width: 200px;
        height: 200px;
        background-image: url(../img/foto-ejemplo.jpg);
        background-position: center;
        background-size: cover;
        border-radius: 10px; 
        
    }
}

.estadoValidacion{

    height: fit-content;
    display: flex;
    flex-direction: column;

    .tipoCarnet{
        font-size: 20px;
    }

    .estadoCarnet{
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        color: var(--bs-success);
    }

    .vencimientoCarnet{
        font-size: 0.875rem;
        font-weight: 700;
    } 
}
 
.datosPersonales{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow: hidden;

    .dni{
        font-size: 1rem;
        font-weight: 400;
    }

}

.reclamo{
    margin-top: -70px;

    button{
        margin-top: 15px;
    }
}

.form-label{
    font-weight: 700;
}

footer {
    margin-top: auto;
    width: 100%;
        display: flex;
    justify-content: center;
    
    
    .row{
        width: 100%;
    }

    .col-4{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .infoFooter{
        font-size: 12px;
        text-align: center;
     
    }

    .logo-DGT img{
        height: 50px;
    }

    .logo-SIRWIQ img{
        height: 40px;
    }
}

@media (max-width: 767.98px) { 

    hr{
        margin: 20px 0!important;
        opacity: 1;
    }

    .col-xl-3{
        border-right: none;
    } 

    body{
    
        >.container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .header{
        .container{
            .logo {
                width: 100%;
                justify-content: center;

            }
        }
    }

    .rowTop{ 
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;

        .estadoValidacion{
            align-items: center;

            .estadoCarnet{
                font-size: 3rem;
    
            }
        }

        .fotoWrapper{
            justify-content: center;

        }
    }

    .rowBottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .datosPersonales{
            align-items: center;

        }

        .reclamo{
            margin-top: 0px;
            padding: 0 6%;

            button{
                margin-left: auto;
                display: flex;
            }
        }
    }

    footer {

        padding-left: 10px;
    }

 }

 @media (max-width: 500px){
    footer {

        .infoFooter{
            font-size: 10px;
        }
        
        .logo-DGT img{
            height: 30px;
        }
    
        .logo-SIRWIQ img{
            height: 20px;
        }
    }
 }

@media (max-width: 400px) { 
    .rowTop {
        .estadoValidacion{
            .estadoCarnet{
                font-size: 2.5rem;
            }
        }
    }  

    .rowBottom{
        .reclamo{
            button{
                width: 100%;
                display: block;
            }
        }

    }
 
}